@media (max-width: 566px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        height: auto;
    }
   

    .header-left{
        width: 100%;
    }
    .header-left h1{
        font-size: 28px;
    }
    .header-right img{
        width: 100%;
        height: auto;
    }

    /* Main Section CSS */
    main{
        display: flex;
        flex-direction: column;
    }

    .fixed-left-buttons{
        position: static;
        display: flex;
    }
    .transfer-cards{
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
    }

    .single-card{
        width: 300px;
    }
    .single-card img{
        width: 100%;
    }

    /* Footer Section CSS */
    .footer-top h1{
        font-size: 48px;
        padding-top: 30px;
    }

    ul.footer-menu{
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer-menu li a{
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
    }

}
 /* Small devices */
@media (min-width: 567px) and (max-width: 768px) { 
/* Header Section CSS */

    .container{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        height: auto;
    }
   

    .header-left{
        width: 100%;
    }
    .header-left h1{
        font-size: 28px;
    }
    .header-right img{
        width: 75%;
        height: auto;
    }

    /* Main Section CSS */
    main{
        display: flex;
        flex-direction: column;
    }

    .fixed-left-buttons{
        position: static;
        display: flex;
    }
    .transfer-cards{
        display: grid;
        grid-template-columns: 1fr ;
        justify-items: center;
    }

    .single-card{
        width: 400px;
    }
    .single-card img{
        width: 100%;
    }

    /* Footer Section CSS */
    .footer-top h1{
        font-size: 48px;
        padding-top: 30px;
    }

    ul.footer-menu{
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer-menu li a{
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
    }

 }

/* Medium devices */
@media (min-width: 769px) and (max-width: 992px) { 

    /* Header Section CSS */

    .container{
        max-height: 70vh;
    }
    .header-left h1{
        font-size: 38px;
    }
    .container p{
        font-size: 12px;
    }
    .header-right img{
        max-height: 70vh;
        overflow: hidden;
    }

    /* Main Section CSS */

    main{
        display: flex;
        flex-direction: column;
    }
    .fixed-left-buttons{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .transfer-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .single-card{
        width: 360px;
    }

    .tablet-button{
        display: block;
    }

    /* Footer Section CSS */
    .footer-top h1{
        font-size: 48px;
        padding-top: 30px;
    }

    ul.footer-menu{
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer-menu li a{
        font-size: 16px;
    }
 }

