@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merriweather&display=swap");  
body {
    margin: 0px;
}

p {
    font-family: Merriweather, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
}


.header{
    padding: 40px 40px 0;
    margin: 0px 0px 80px;
}
.container {
    /* background-color: rgb(101, 138, 76); */
    background-color: #658A4C;
    border-radius: 20px;
    padding: 40px 40px 0px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 70vh;
}

.header-title {
    font-size: 4.5em;
    line-height: 1.2;
    font-family: 'Merriweather';
    text-transform: capitalize;
}

.header-left {
    width: 40%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.container p{
    margin-bottom: 40px;
}

.header-right {
    width: 60%;
    display: flex;
    justify-content: end;
}

.header-right img {
    max-width: 100%;
    height: 70vh;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    margin-left: 5%;
}

.header-left a {
    position: relative;
    font-size: 1.5em;
    font-family: poppins, sans-serif;
    padding: 10px 30px;
    background: #ffffff;
    border-radius: 3px;
    color: #983339;
    text-transform: capitalize;
    margin: 15px 0;
    text-decoration: none;
    font-weight: 700;
    transition: all 500ms ease-in-out;
}

.header-left a:hover{
    padding-right: 50px;
    z-index: 1;
}



.header-left a::after{
    font-family: "Font Awesome 5 Free";
    content: '\f105';
    position: absolute;
    margin-left: 10px;
    z-index: -1;
}


.header-left a:hover::after{
    padding-right: 20px;
    z-index: 1;
    display: inline;
}

/* Main Section CSS */
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    position: relative;
    margin-bottom: 80px;
    padding: 40px;
}


.fixed-left-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px solid #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    background: #c6c3c3;
}

.fixed-left-buttons a {
    font-size: 1.5em;
    font-family: poppins, sans-serif;
    padding: 10px 30px;
    background: #fff;
    border-radius: 3px;
    color: #983339;
    text-transform: capitalize;
    margin: 15px 0;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.transfer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.single-card {
    width: 340px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    background: #c6c3c3;
}

.single-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.single-card-info{
    padding: 20px 10px;
}

.single-card-info a {
    font-size: 16px;
    font-family: 'merriweather', sans-serif;
    padding: 10px 30px;
    background: #ffffff;
    border-radius: 3px;
    color: #983339;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

.single-card h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    margin-top: 25px;
}

.single-card-info span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
    margin-right: 30px;
}

main a {
    font-size: 16px;
    font-family: 'merriweather', sans-serif;
    padding: 10px 30px;
    background: #983339;
    border-radius: 3px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
}

main a:hover,
main a:focus{
    color: #fff;
    background: #983339;
}

.tablet-button {
    text-align: center;
    display: none;
    margin-top: 40px;
}



/* Footer CSS */

footer {
    background: #658A4C;
    color: #f1f1f1;
    text-align: center;
    padding: 60px 0
}

.footer-top h1 {
    font-size: 72px;
    font-family: 'Inter';
    text-transform: uppercase;
    margin: 0;
}
hr {
    width: 90%;
}

ul.footer-menu {
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 24px;
    font-family: 'Merriweather';
    margin-right: 20px;
}

.footer-menu li a:hover {
    text-decoration: underline;
    color: #434242;
    
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
}





