.flags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flags img {
    border-radius: 0px;
    margin: 0 20px;
    width: 100%;
}
.single-card-info{
    text-align: center;
    color: rgb(113, 113, 113);
}
.single-card-info h3{
    font-size: 28px;
    margin-bottom: 0px;
}

.single-card-info p{
    font-size: 18px;
}

/* Responsive CSS */

@media (max-width: 566px) {
    .single-card-info h3{
        font-size: 20px;
    }
    .single-card-info p{
        font-size: 16px;
        
    };
}

@media (min-width: 568px) and (max-width: 767px) {
    .single-card-info h3{
        font-size: 24px;
    }
    .single-card-info p{
        font-size: 18px;
    };
}